<% include header %>
<header>
    <h1>Ntalk</h1>
    <h4>Error to access database! :(</h4>
</header>
<div class="containet msg">
    <p>
        Look the details:
        <br>
        <%- error.message %>
    </p>
    <hr>
    <p>Go back <a href="/">home page?</a> :)</p>
</div>
<% include footer %>