    
    <footer>
        <small>This is a example used as didactic book: <a href="http://www.casadocodigo.com.br/products/livro-nodejs" target="_blank">Aplicações web real-time com Node.js</a></small>
    </footer>

    <script  src="/js/jquery-3.3.1.min.js"></script>
    <script  src="/js/bootstrap.min.js"></script>
</body>
</html>