<% include ../header %>
<header>
    <h1>Ntalk</h1>
    <h4>Welcome</h4>
</header>
<section>
    <div class="container">
        <form class="form-signin" action="/login" method="POST">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="user[email]" placeholder="Enter email">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="password" class="form-control" name="user[password]" placeholder="Password">
            </div>
    
            <button class="btn btn-success btn-block" type="submit">Login</button>
        </form>
    </div>

</section>
<% include ../footer %>